/* Main CSS - Import all modules */
@import 'variables.css';
@import 'base.css';
@import 'layout.css';
@import 'effects/atmosphere.css';
@import 'effects/animations.css';
@import 'components/header.css';
@import 'components/cards.css';
@import 'components/tags.css';
@import 'components/modal.css';
@import 'components/footer.css';
